{% extends 'base.html' %}


{% block title %}
Workout Diary
{% endblock %}

{% block lead %}
당신의 성취를 확인하세요.
{% endblock  %}

{% block main_body %}
<form method="GET" action="/list"></form>

  {% if post_list %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Machine</th>
        <th scope="col">Weight</th>
        <th scope="col">num_1set</th>
        <th scope="col">total_set</th>
      </tr>
    </thead>
  
    <tbody>
      {% for post in post_list %}
      <tr>
        <th scope="row">{{ post.id }}</th>
        <td>{{ post.date }}</td>
        <td>{{ post.name }}</td>
        <td>{{ post.machine }}</td>
        <td>{{ post.weight }}</td>
        <td>{{ post.num_1set }}</td>
        <td>{{ post.total_set }}</td>
        <td>
          <a class="btn btn-secondary", href='/list/{{ post.id }}'>
            Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% endif %}
  
{% endblock %}