{% extends 'base.html' %}

{% block main_body %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Machine</th>
        <th scope="col">Weight</th>
        <th scope="col">num_1set</th>
        <th scope="col">total_set</th>
      </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{post.date}}</td>
            <td>{{post.name}}</td>
            <td>{{post.machine}}</td>
            <td>{{post.weight}}</td>
            <td>{{post.num_1set}}</td>
            <td>{{post.total_set}}</td>
        </tr>
    </tbody>

</table>
    <a class="btn btn-secondary", href="/posts/{{post.id}}/edit">수정</a>
    <a class="btn btn-secondary", href='/posts/{{post.id}}/delete'>삭제</a>
    


    <form action="/posts/{{post.id}}/comments" method='post'>
        작성자 : <input type="text" name="creator" />
        댓글 : <input type="text" name="content"/>
        <input type='submit'/>
    </form>


    {% for comment in post.comments %}
        <p>{{comment.creator}} : {{comment.content}}</p>
        <p>{{comment.created_at}}</p>
        <a href="/comment/{{comment.id}}/delete">댓글삭제</a>
    {% endfor %}


{% endblock %} 
